<div class="container">
  <form action="/expenses/create" method="POST" class="new-wrapper">
    <div class="grid-1">*必填欄位</div>
    <div class="grid-2">請輸入你支出</div>
    <div class="grid-3">名稱*</div>
    <div class="grid-4">
      <input type="text" name="name" required>
    </div>
    <div class="grid-5">日期*</div>
    <div class="grid-6">
      <input type="date" name="date" required>
    </div>
    <div class="grid-7">類別*</div>
    <div class="grid-8">
      <select name="categoryId" id="categoryId" required>
        <option value="" disabled selected>類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </div>
    <div class="grid-9">金額*</div>
    <div class="grid-10">
      <input type="number" name="amount" required>
    </div>
    <div class="grid-11"></div>
    <div class="grid-12">
      <button type="submit" class="btn btn-primary">新增支出</button>
    </div>
  </form>
</div>